/* ==========================================================================
   # RESET
   ========================================================================== */

/**
 * A very simple reset that sits on top of Normalize.css.
 */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
}


/**
 * Remove trailing margins from nested lists.
 */

li > {
  ol,
  ul {
    margin-bottom: 0;
  }
}


/**
 * Remove default table spacing.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */

fieldset {
  min-width: 0; /* [1] */
  border: 0;
}

@font-face {
  font-family: 'reg-font';
  src: url('../butler_light.woff');
}

@font-face {
  font-family: 'reg-font-mid';
  src: url('../butler_medium.woff');
}

.timer-load-more {
  position: absolute;
  left: calc(100% + 20px);
  background: transparent;
  border: none;
  padding: 0px;
  width: 0px;
  cursor: pointer;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: 10;
  transition: width .8s cubic-bezier(0.04, 0.74, 0.25, 1.05);
}

.timer-load-more:after {
    display: block;
    position: absolute;
    content: '';
    right: 0px;
    width: 10px;
    height: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transition: border-color .8s cubic-bezier(0.04, 0.74, 0.25, 1.05);
    transform: rotate(45deg) translateY(-50%);
    top: calc(50% - 1px);
}

.timer-load-more:before {
  content: '';
  height: 1px;
  width: 0;
  position: absolute;
  left: 0px;
  top: 50%;
  background-color: white;
  transition: width .8s cubic-bezier(0.04, 0.74, 0.25, 1.05), background-color .8s cubic-bezier(0.04, 0.74, 0.25, 1.05);
}


.timer-load-more span {
  opacity: 0;
  display: block;
  transform: translateX(-30px);
  transition: opacity .4s cubic-bezier(0.04, 0.74, 0.25, 1.05), transform .8s cubic-bezier(0.04, 0.74, 0.25, 1.05), color .8s cubic-bezier(0.04, 0.74, 0.25, 1.05);
  white-space: nowrap;
  color: white;
  margin-bottom: 4px;
  display: block;
  padding: 0px;
  position: absolute;
  left: 0px;
  letter-spacing: 1px;
  font-size: 14px;
  top: calc(50% - 20px);
  font-family: 'reg-font';
}

.timer-load-more:hover {
  width: 100px;
}

.timer-load-more:hover span {
  color: #f9b22c;
  opacity: 1;
  transform: translateX(0px);
}

.timer-load-more:hover:after {
  border-top:   1px solid #f9b22c;
  border-right: 1px solid #f9b22c;
}

.timer-load-more:hover:before {
  width: calc(100% + 5px);
  background-color: #f9b22c;
}

h2 {
  font-family: 'reg-font';
  z-index: 2;
  position: relative;
  padding-top: 40px;
  font-size: 48px;
  text-align: center;
  color: white;
  top: 0px;
  padding: 0px;
  white-space: nowrap;
  top: -38px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 10px;
}


.timer {
  background-image: url('http://v.img.com.ua/b/1100x999999/f/62/333ae72a365135b2b84ef5eda270f62f.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.timer-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .76);
  top 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.timer-wrap {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  /*background-color: rgba(255, 255, 255, .1);*/
  border: 1px solid #f9b22c;
  border-top: 0;
}

.timer-wrap.slide-out {
  display: none;
}

.timer-wrap:before {
  content: '';
  position: absolute;
  width: 110px;
  height: 1px;
  left: 0px;
  top: 0px;
  background-color: #f9b22c;
}

.timer-wrap:after {
  content: '';
  position: absolute;
  width: 110px;
  height: 1px;
  right: 0px;
  top: 0px;
  background-color: #f9b22c;
}
.timer__inner {
  font-family: 'reg-font';
  color: white;
  display: flex;
}

.timer__inner span {
  width: 130px;
  font-size: 28px;
  text-align: center;
  display: inline-block;

}

.timer-wrap > div:first-child() {
  font-size: 30px;
}

.polls {
  opacity: 0;
  position: relative;
  z-index: 10;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.polls__column {
  width: 300px;
}

.polls.slide-in {
  opacity: 1;
}

.polls__header {
  font-family: 'reg-font';
  color: white;
  padding-bottom: 4px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.polls__approval-graph-outer {
  width: 300px;
}

.polls__approval-graph-outer--top {
  background-color: rgba(44, 123, 249, .3);
}

.polls__approval-graph-outer--bottom {
  background-color: rgba(249, 178, 44, .3);
}

.polls__approval-graph {
  height: 26px;
  margin-bottom: 10px;
  width: 0px;
  transition: width 2s cubic-bezier(0.04, 0.74, 0.25, 1.05);
}

.polls__approval-graph--top {
  background-color: #2c7bf9;
}

.polls__approval-graph--bottom {
  background-color: #f9b22c;
}


